* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.navegador1 {
    background-color: #222222;
    color: #F3F3F3;
    font-weight: 400;
    font-size: 10px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 60px;
    width: 100%;
}

.menu1 ul {
    font-weight: 400;
    font-size: 10px;
    color: #F3F3F3;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.idioma {
    padding: 0px;
    background-color: #222222;
    color: #F3F3F3;
    border: none;
}

.navegador2 {
    background-color: #F0A83E;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
}

.menu2 ul {
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    display: flex;
    width: 343px;
    justify-content: space-between;
}

.menuMovil {
    position: absolute;
    z-index: -1;
    left: 85.5%;
}

.banner {
    background-image: url('../img/plato.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 12px;

}

.bannerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    width: 365px;
    height: 54px;
    text-align: center;
    color: #3C2313;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 0px;
}

#tituloBanner {
    font-weight: 400;
    font-size: 16px;
    color: #3C2313;
    padding-top: 12px;
    padding-bottom: 12px;
}

#botonComedores {
    background-color: #F0A83E;
    color: #FFFFFF;
    width: 141px;
    height: 49px;
    border-radius: 5px;
    text-align: center;
    border: none;

}

.productosDestacados {
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.parte1Patita {
    font-weight: 700;
    font-size: 40px;
    color: #3C2313;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 49px;
}

.parte1Patita img {
    width: 67px;
    height: 71px;
}

.menu ul {
    padding-top: 20px;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    width: 267px;
}

.items {
    text-decoration: none;
    color: #FFFFFF;
}

.item-nav {
    color: #666666;
    text-decoration: none;
}

.parte2Productos {
    display: flex;
    justify-content: center;
}

.imagenes {
    background-color: #FBFAF6;
    height: 312px;
    margin-right: 20px;
}

.nombreProducto {
    font-weight: 500;
    font-size: 15px;
    color: #3C2313;
    text-align: center;
}

.precioProducto {
    font-weight: 500;
    font-size: 15px;
    color: #F0A83E;
    text-align: center;
}

.contactanos {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: #3C2313;
    padding-top: 78px;
    padding-bottom: 20px;
}

.camposFormulario {
    width: 340px;
    height: 40px;
    background: #3C2313;
    border-radius: 15px;
    font-weight: 400;
    font-size: 9px;
    padding-left: 14.11px;
    border: none;
    color: #FFFFFF;
}

input::placeholder {
    color: #FFFFFF;
}

.campos {
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.botonResetear {
    width: 110px;
    height: 34px;
    background: #8A8787;
    border-radius: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    text-align: center;
}

.botonEnviar {
    width: 110px;
    height: 34px;
    background: #F0A83E;
    border-radius: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    text-align: center;
}

.botones {
    display: flex;
    width: 226px;
    justify-content: space-between;
    padding-top: 41px;
    padding-bottom: 75px;
}

.parte3Formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parte4Suscribete {
    height: 60px;
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
}

.suscribete {
    height: 23px;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

.suscribeteParte1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 393px;
    padding-left: 23px;
}

.campoCorreo {
    width: 271px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 15px;
    font-weight: 400;
    font-size: 9px;
    color: #A0A0A0;
    padding-left: 8px;
    border: none;
}

.campoCorreo::placeholder {
    color: #A0A0A0;
}

.suscribirme {
    width: 70px;
    height: 34px;
    background: #3C2313;
    border-radius: 15px;
    font-weight: 700;
    font-size: 9px;
    color: #FFFFFF;
    margin-left: 5px;
    border: none;
}

.suscribeteParte2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 47px;
}

.parte5Contactenos {
    background: #3C2313;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
}

.divContactenos {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.contactenos {
    display: flex;
    padding-left: 70px;
    padding-top: 23px;
    padding-bottom: 20px;
}

.tituloContactenos {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.subtituloContactenos {
    font-weight: 700;
    font-size: 10px;
    color: #8A8787;
}

.iconosContactenos {
    width: 58px;
    height: 57px
}


.logo {
    width: 166px;
    height: 23px;
}



footer {
    background-color: #222222;
    font-weight: 700;
    font-size: 10px;
    height: 20px;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
}



@media(max-width:600px) {

    .navegador1,
    .menu2 {
        position: absolute;
        z-index: -1;
    }

    .menuMovil {
        z-index: 0;
    }

    .banner {
        height: 410px;
    }

    h2 {
        width: 375px;
    }

    .bannerInfo {
        align-items: flex-end;
    }

    #botonComedores {

        margin-right: 15px;
    }

    .parte1Patita img {
        width: 90px;
        height: 83px;
    }

    .parte1Patita {
        font-size: 2rem;
    }

    .parte2Productos {
        flex-direction: column;
        align-items: center;
        height: 1000px;
        justify-content: space-between;
        padding-left: 17px;
    }

    .contactanos {
        font-size: 2.5rem;
        padding-top: 34px;
    }

    .botones {
        width: 93%;
        padding-bottom: 45px;
    }

    .botonResetear {
        width: 48.7%;
        height: 45px;
        border-radius: 25px;
        padding-left: 10px;
    }

    .botonEnviar {
        width: 48.7%;
        height: 45px;
        border-radius: 25px;
        padding-left: 18px;
    }

    .parte4Suscribete {
        height: 90px;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        align-items: center;
    }

    .campoCorreo {
        font-size: .8rem;
    }

    .suscribirme {
        width: 100px;
        height: 40px;
        font-size: 0.8rem;
    }

    .parte5Contactenos {
        flex-direction: column-reverse;
        padding-top: 15px;
    }

}