$fondoHeader1: #222222;
$letraHeader1: #F3F3F3;
$fondoHeader2: #F0A83E;
$letraHeader2: #FFFFFF;
$colorH2: #3C2313;
$colorItemNav: #666666;
$colorImagenes: #FBFAF6;
$colorBotonReset: #8A8787;
$colorCorreo: #A0A0A0;